%centradohorizontal{
        margin-left: auto;
        margin-right: auto;
}

%displaysflexs{
    display: flex
}

/*-----------------HEADER-----------------*/
.titulo{
    @extend %centradohorizontal;
    margin-top: 5px;
}

.navegador{
    margin: 0;
    @extend %centradohorizontal;
    @extend %displaysflexs;
    justify-content: space-around; /*Distribuye horizontalmente los elementos*/
}

.header{
    flex-direction: column;
    justify-content: flex-start;
    @extend %displaysflexs;
}