/*nos permiten tener un objeto que tiene distintos valores para una misma seccion*/

$perfil_normal:(
    sizenormal: large

);


$perfil_adultomayor: (
    sizeadultomayor: x-large
);

#normal{
    font-size: map-get($perfil_normal, sizenormal)
}


#adultomayor{
    font-size: map-get($perfil_adultomayor, sizeadultomayor)
}

