@import 'header';
@import 'footer';
/*ESTILO DE FONDO DEL BODY*/
.body-container{
        
    background-image: linear-gradient(to bottom, #FFD5FF, #000000 );
    border: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

  /*--------------------------------ESTILOS EN EL TRADUCTOR.................................*/
  .traductor {
      margin-bottom: 20px;
  }
  .palabrasdeentrada{
    width: 70%;
    justify-content: center;
    align-self: center;
    color: white;
    /*margin: 0 auto; esto es top cero y bottom cero y left auto y rigth auto*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center; /*para centrar el texto en el medio*/
    padding: 10px;
    font-size: large;
}

.grid{
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 150px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    background-color: #fff;
    width: 70%;
    margin: auto auto;
    padding: 25px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.idiomasanjuanino{
    justify-content: center;
    align-self: center;
    color: black;
    margin: 0;
    text-align: center; /*para centrar el texto en el medio*/
    padding: 15px;
    font-size: xx-large;
    font-weight: bold;
    background-color: #ED9B40;
    border-radius: 4px;
}

.idiomanormal{
    justify-content: center;
    align-self: center;
    color: white;
    margin: 0;
    text-align: center; /*para centrar el texto en el medio*/
    padding: 15px;
    font-size: xx-large;
    font-weight: bold;
    background-color: #4D243D;
    border-radius: 4px;
}

 .imagenesgrid{
   margin-left: 30px;
} 

/* -----------------------------RESPONSIVE Media query para Celular de REGALOS----------------------------------- */
@media screen and (max-width: 575px) {
    .header-container {
        background-image: url('../img/fondodique2.jpg');
        height: 35vh;
        background-size: contain;
    }

    .titulo {
        margin-top: 5px;
        font-size: large;
    }

    .navegadorunico {    
        font-size: 8px;
        font-weight: 400;

    }
    
    .grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 50px;
        background-color: #fff;
        grid-column-gap: 5px;
        grid-row-gap: 0px;
    }
    
    .item{
        margin: auto auto;
        width: 95%;
    }

    .idiomanormal{
        font-size: x-small;
    }

    .idiomasanjuanino{
        font-size: x-small;
    }
    
    .imagenesgrid{
       /*DEBO ALINEAR LAS FLECHAS AL MEDIO*/
        margin: auto auto;
        width: 90%;
        height: 50%;     
    } 

}