@import 'header';
@import 'footer';
/*ESTILO DE FONDO DEL BODY*/
.body-container{
    background-color: #FFD5FF;
    /*background-image: linear-gradient(to bottom, #FFD5FF, rgba(220, 20, 60, 0.726) );*/
    border: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*---------------ESTILOS DE LOS PRODUCTOS EN COMIDAS-LUGARES-REGALOS-ETC------------------------*/
.palabrascomidas{
    width: 70%;
    justify-content: center;
    align-self: center;
    color: crimson;
    /*margin: 0 auto; esto es top cero y bottom cero y left auto y rigth auto*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center; /*para centrar el texto en el medio*/
    padding: 10px;
    font-size: large;
}

.producto-container{
    background-color: #493657;
    width: 80%;
    margin: 20px auto;
    border-color: #DC143C;
    border-width: 10vh;
    border-radius: 4px;
}

.producto-minicontainer1{ /*este es el contenedor de los productos que no forman parte del carrusel*/
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5pxs;

}

.producto-minicontainer { /*este contenedor solo contiene a la imagen y a la descripcion para poder realizarles flex*/
    
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5pxs;
    
}

.producto-title {
    text-align: center; /*No puedo hacer que los títulos se centren en el medio del recuadro, se quedan arriba y ni con un margin-top lo puedo bajar*/
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff; 
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0;
}


.producto-image {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
}

.producto-description{
    background-color: #FFD5FF;
    opacity: 70%;
    &-mobile {
        display: none;
    }
}
/* -----------------------------RESPONSIVE Media query para Celular de COMIDAS----------------------------------- */
@media screen and (max-width: 575px) {
    
    .producto-minicontainer { /*este contenedor solo contiene a la imagen y a la descripcion para poder realizarles flex*/
        display: block;
        padding: 5%;  
                      
    }

    .producto-image {
        height: 150px;
        width: 250px;
        align-items: center;

    }

    .producto-description {
        
        &-mobile {
            display: block;
            width: 90%;
            height: 30%;
            margin: auto auto;
            color: #fff;
            font-size: medium;
            text-align: center;
            padding-bottom: 10px;
        }
    }
}