@import 'header';
@import 'footer';

/*ESTILO DE FONDO DEL BODY*/
.body-container{
        
    background-color: #FFD5FF; 
    border: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*--------------------------------------ESTILO DEL FORMULARIO----------------------------------------*/

  
.formulario{
    margin-top: 20px;
    align-items: center;
    /* width: 60%; */
    margin-left: auto;
    margin-right: auto;
}


/* -----------------------------RESPONSIVE Media query para Celular de COMIDAS----------------------------------- */
@media screen and (max-width: 575px){

    

}