
/*ESTILO DE FONDO DEL BODY*/
.body-container{
        
    background-color: #FFD5FF; 
    border: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*-------------ESTILOS DEL HEADER-------------------------*/
.header-container{
    position: relative; /*hace al contenedor la referencia*/
    background-image: url('../SANJUAN-AILINIBAZETA/img/fondodique.jpg');
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 61vh;
}

.titulo{
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 15px 0; /*top 20 right 0 bottom 20 y left 0*/
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    width: 100%;
    color: black;
    background-color: #FFD5FF;
    opacity: 0.7;    
}

/*ESTILOS DEL NAVEGADOR EN GRAL*/
.navegador{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-around; /*Distribuye horizontalmente los elementos*/
    text-emphasis-color: rgb(247, 239, 239);
    color: #fff;
    background-color: #DC143C; /*#E83625;*/
    padding: 5px 0;
    align-self: center;
    align-items: center; /*Alineacion vertical:*/
    opacity: 0.9; 
    margin: 0;
}

.navegador li {
    list-style: none; /*Elimino los puntitos de la lista*/
}

.navegadorunico{

    color: white;
    text-decoration: none; /*elimina el subrayado*/
    font-size: x-large;
    font-weight: bold;

}

/*ESTILOS EN PALABRAS DE BIENVENIDA*/


.bienvenida1{
     
    width: 70%;
    justify-content: center;
    align-self: center;

    color: #DC143C;
    /*margin: 0 auto; esto es top cero y bottom cero y left auto y rigth auto*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center; /*para centrar el texto en el medio*/
    padding: 10px;
    font-size: large;
}



/*--------------ESTILOS EN EL GRID------------------*/
.grid{
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.imagenesgrid{
    height: 300px;
    width: 300px;
}

/*ESTILOS DE PRODUCTOS*/


/*-----------------ESTILOS EN EL FOOTER---------------------------*/


/*ESTILO DEL FOOTER EN TOTAL */
.footer-container{
    color: black;
    background-color: #DC143C;
    margin-top: 10px;
}

/*ESTILO DEL DIV QUE SEPARA LAS REDES DE LOS LINK IMPORTANTES*/
.footer-separacion{
    display: flex;
    justify-content: space-around;
    width: 100%;
     /*Distribuye horizontalmente los elementos*/
    
}

/* ESTILO DE "REDES" */
.redes {
    
    flex-direction: column;
}
  
  /* ESTILOS DE LAS IMÁGENES DE REDES */
  .redes1 {
    margin-bottom: 15px;
  }


/* -----------------------------RESPONSIVE Media query para Celular del INICIO----------------------------------- */
@media screen and (max-width: 575px){
    
    .header-container{
        background-image: url('../SANJUAN-AILINIBAZETA/img/fondodique2.jpg');
        height: 35vh;
        background-size: contain;
    }

    .titulo{
        margin-top: 5px;
        font-size: large;
    }
    
    /*ESTILOS DEL NAVEGADOR EN GRAL EN MEDIA QUERY*/

        .navegadorunico{    
            font-size: 8px;
            font-weight: 400;
    
        }

    /*--------------ESTILOS EN EL GRID------------------*/
    .grid{
        grid-template-columns: 200px ;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
        grid-column-gap: 10px;
        grid-row-gap: 20px;
    }

    .imagenesgrid{
        height: 200px;
        width: 200px;
    }

    

  }


