@charset "UTF-8";
/*COLORES DE BACKGROUND*/
/*COLORES DE TEXTO EN LISTA*/
.navegador, .titulo {
  margin-left: auto;
  margin-right: auto;
}

.header, .navegador {
  display: flex;
}

/*-----------------HEADER-----------------*/
.titulo {
  margin-top: 5px;
}

.navegador {
  margin: 0;
  justify-content: space-around;
  /*Distribuye horizontalmente los elementos*/
}

.header {
  flex-direction: column;
  justify-content: flex-start;
}

/*-------------ESTILOS DEL HEADER-------------------------*/
.header-container {
  position: relative;
  /*hace al contenedor la referencia*/
  background-image: url("../img/fondodique.jpg");
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 61vh;
}

.titulo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 15px 0;
  /*top 20 right 0 bottom 20 y left 0*/
  text-align: center;
  font-size: xx-large;
  font-style: italic;
  width: 100%;
  color: black;
  background-color: #FFD5FF;
  opacity: 0.7;
}

/*ESTILOS DEL NAVEGADOR EN GRAL*/
.navegador {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  /*Distribuye horizontalmente los elementos*/
  text-emphasis-color: rgb(247, 239, 239);
  color: #fff;
  background-color: #DC143C;
  /*#E83625;*/
  padding: 5px 0;
  align-self: center;
  align-items: center;
  /*Alineacion vertical:*/
  opacity: 0.9;
  margin: 0;
}

.navegador li {
  list-style: none;
  /*Elimino los puntitos de la lista*/
}

.navegadorunico {
  color: white;
  text-decoration: none;
  /*elimina el subrayado*/
  font-size: x-large;
  font-weight: bold;
}

@media screen and (max-width: 575px) {
  .header-container {
    background-image: url("../img/fondodique2.jpg");
    height: 35vh;
    background-size: cover;
  }

  .titulo {
    margin-top: 5px;
    font-size: large;
  }

  /*ESTILOS DEL NAVEGADOR EN GRAL EN MEDIA QUERY*/
  .navegadorunico {
    font-size: 8px;
    font-weight: 400;
  }
}
/*-----------------ESTILOS EN EL FOOTER---------------------------*/
.footer {
  /*ESTILO DEL FOOTER EN TOTAL */
  /*ESTILO DEL DIV QUE SEPARA LAS REDES DE LOS LINK IMPORTANTES*/
}
.footer-container {
  color: white;
  background-color: #DC143C;
  padding: 20px 0;
}
.footer-separacion {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /*Distribuye horizontalmente los elementos*/
}
.footer-title {
  font-weight: 500;
}
.footer-linkedin {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

/* ESTILO DE "REDES" */
.redes {
  flex-direction: column;
}

/* ESTILOS DE LAS IMÁGENES DE REDES */
.redes1 {
  margin-bottom: 15px;
}

@media screen and (max-width: 575px) {
  .footer {
    /*ESTILO DEL DIV QUE SEPARA LAS REDES DE LOS LINK IMPORTANTES*/
  }
  .footer-container {
    padding: 0;
    padding-bottom: 15px;
  }
  .footer-separacion {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .footer-title {
    padding-top: 10px;
  }
}
/*ESTILO DE FONDO DEL BODY*/
.body-container {
  background-image: linear-gradient(to bottom, #fec196, #4b134b);
  border: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*---------------ESTILOS DE LOS PRODUCTOS EN COMIDAS-LUGARES-REGALOS-ETC------------------------*/
.palabraslugares {
  width: 70%;
  justify-content: center;
  align-self: center;
  color: white;
  /*margin: 0 auto; esto es top cero y bottom cero y left auto y rigth auto*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  /*para centrar el texto en el medio*/
  padding: 10px;
  font-size: large;
}

.producto-container {
  background-color: #493657;
  width: 80%;
  margin: 20px auto;
  border-color: #DC143C;
  border-width: 10vh;
}

.producto-minicontainer1 {
  /*este es el contenedor de los productos que no forman parte del carrusel - contiene la imagen sola y la descripcion*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5pxs;
}

.producto-minicontainer {
  /*este contenedor del carrusel con su respectiva descripción*/
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5pxs;
}

.producto-title {
  text-align: center;
  /*No puedo hacer que los títulos se centren en el medio del recuadro, se quedan arriba y ni con un margin-top lo puedo bajar*/
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.producto-image {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
}

.producto-description {
  background-color: #FFD5FF;
  opacity: 70%;
}

/* -----------------------------RESPONSIVE Media query para Celular de COMIDAS----------------------------------- */
@media screen and (max-width: 575px) {
  .header-container {
    background-image: url("../img/fondodique2.jpg");
    height: 35vh;
    background-size: contain;
  }

  .titulo {
    margin-top: 5px;
    font-size: large;
  }

  .navegadorunico {
    font-size: 8px;
    font-weight: 400;
  }

  .producto-minicontainer {
    /*este contenedor solo contiene a la imagen y a la descripcion para poder realizarles flex*/
    display: block;
    padding: 5%;
  }

  .producto-image {
    height: 150px;
    width: 250px;
  }

  .producto-description {
    width: 90%;
    height: 30%;
    margin: auto auto;
    color: #fff;
    font-size: small;
  }
}

/*# sourceMappingURL=style_lugares.css.map */
