@charset "UTF-8";
/*COLORES DE BACKGROUND*/
/*COLORES DE TEXTO EN LISTA*/
.navegador, .titulo {
  margin-left: auto;
  margin-right: auto;
}

.header, .navegador {
  display: flex;
}

/*-----------------HEADER-----------------*/
.titulo {
  margin-top: 5px;
}

.navegador {
  margin: 0;
  justify-content: space-around;
  /*Distribuye horizontalmente los elementos*/
}

.header {
  flex-direction: column;
  justify-content: flex-start;
}

/*-------------ESTILOS DEL HEADER-------------------------*/
.header-container {
  position: relative;
  /*hace al contenedor la referencia*/
  background-image: url("../img/fondodique.jpg");
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 61vh;
}

.titulo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 15px 0;
  /*top 20 right 0 bottom 20 y left 0*/
  text-align: center;
  font-size: xx-large;
  font-style: italic;
  width: 100%;
  color: black;
  background-color: #FFD5FF;
  opacity: 0.7;
}

/*ESTILOS DEL NAVEGADOR EN GRAL*/
.navegador {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  /*Distribuye horizontalmente los elementos*/
  text-emphasis-color: rgb(247, 239, 239);
  color: #fff;
  background-color: #DC143C;
  /*#E83625;*/
  padding: 5px 0;
  align-self: center;
  align-items: center;
  /*Alineacion vertical:*/
  opacity: 0.9;
  margin: 0;
}

.navegador li {
  list-style: none;
  /*Elimino los puntitos de la lista*/
}

.navegadorunico {
  color: white;
  text-decoration: none;
  /*elimina el subrayado*/
  font-size: x-large;
  font-weight: bold;
}

@media screen and (max-width: 575px) {
  .header-container {
    background-image: url("../img/fondodique2.jpg");
    height: 35vh;
    background-size: cover;
  }

  .titulo {
    margin-top: 5px;
    font-size: large;
  }

  /*ESTILOS DEL NAVEGADOR EN GRAL EN MEDIA QUERY*/
  .navegadorunico {
    font-size: 8px;
    font-weight: 400;
  }
}
/*-----------------ESTILOS EN EL FOOTER---------------------------*/
.footer {
  /*ESTILO DEL FOOTER EN TOTAL */
  /*ESTILO DEL DIV QUE SEPARA LAS REDES DE LOS LINK IMPORTANTES*/
}
.footer-container {
  color: white;
  background-color: #DC143C;
  padding: 20px 0;
}
.footer-separacion {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /*Distribuye horizontalmente los elementos*/
}
.footer-title {
  font-weight: 500;
}
.footer-linkedin {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

/* ESTILO DE "REDES" */
.redes {
  flex-direction: column;
}

/* ESTILOS DE LAS IMÁGENES DE REDES */
.redes1 {
  margin-bottom: 15px;
}

@media screen and (max-width: 575px) {
  .footer {
    /*ESTILO DEL DIV QUE SEPARA LAS REDES DE LOS LINK IMPORTANTES*/
  }
  .footer-container {
    padding: 0;
    padding-bottom: 15px;
  }
  .footer-separacion {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .footer-title {
    padding-top: 10px;
  }
}
/*ESTILO DE FONDO DEL BODY*/
.body-container {
  background-color: #FFD5FF;
  border: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*--------------------------------------ESTILO DEL FORMULARIO----------------------------------------*/
.formulario {
  margin-top: 20px;
  align-items: center;
  /* width: 60%; */
  margin-left: auto;
  margin-right: auto;
}

/* -----------------------------RESPONSIVE Media query para Celular de COMIDAS----------------------------------- */

/*# sourceMappingURL=style_contacto.css.map */
